<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>可购买.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,326}</string>
                <key>spriteSourceSize</key>
                <string>{689,326}</string>
                <key>textureRect</key>
                <string>{{0,0},{689,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>已拥有.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,326}</string>
                <key>spriteSourceSize</key>
                <string>{689,326}</string>
                <key>textureRect</key>
                <string>{{0,326},{689,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未拥有.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,326}</string>
                <key>spriteSourceSize</key>
                <string>{689,326}</string>
                <key>textureRect</key>
                <string>{{0,652},{689,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyBtn.png</string>
            <key>size</key>
            <string>{689,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a00166b2b5bed4753f3c455ea39a2b5:8d754a8e32f8958d2f30d08fe2c796df:7ab28ece8a66261e30a137ed89f947ad$</string>
            <key>textureFileName</key>
            <string>buyBtn.png</string>
        </dict>
    </dict>
</plist>
